<!-- contact -->
<div class="container-fluid alt-color">
    <br /><br />

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
        <div class="col-lg-4 col-md-6 ecosystem section-heading">
          <h2 class="lead secondary-heading">
           联系我们
          </h2>
        </div>
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
      </div>

      <br />

      <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network discourse">
            <h4><a href="http://discourse.juliacn.com/">Discourse</a></h4>
            <p>
              Discussion forums
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network github">
            <h4><a href="https://github.com/JuliaCN">Github</a></h4>
            <p>
              Source code and development
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network QQ">
            <h4>QQ群</h4>
            <p>
			  Julia中文社区，316628299
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network zhihu">
            <h4>知乎</h4>
            <p>
              Julia板块下提问即可
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
      </div>

    </div>

    <br />
  </div>
  <!-- end contact -->
