<!-- ecosystem -->
<div class="container-fluid alt-color">
    <br />

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
        <div class="col-lg-4 col-md-6 ecosystem section-heading">
          <h2 class="lead secondary-heading">
            生态系统
          </h2>
        </div>
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
      </div>

      <br />

      <div class="row">
        <ul class="nav nav-tabs nav-justified" id="ecosystem-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="viz-tab" data-toggle="tab" href="#tab-viz" role="tab" aria-controls="viz" aria-selected="true">可视化</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="general-tab" data-toggle="tab" href="#tab-general" role="tab" aria-controls="general" aria-selected="false">通用</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="ds-tab" data-toggle="tab" href="#tab-ds" role="tab" aria-controls="ds" aria-selected="false">数据科学</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="math-tab" data-toggle="tab" href="#tab-math" role="tab" aria-controls="math" aria-selected="false">机器学习</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sci-tab" data-toggle="tab" href="#tab-sci" role="tab" aria-controls="sci" aria-selected="false">科学领域</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="computing-tab" data-toggle="tab" href="#tab-computing" role="tab" aria-controls="computing" aria-selected="false">并行计算</a>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="ecosystem-tab-content">
        <div class="tab-pane" id="tab-general" role="tabpanel" aria-labelledby="general-tab">
          <h3 class="tab-title">通用</h3>
          <img src="images/minesweeper.png" class="pb-2 ecosystem-image" style="width: 400px; height: 280px" />
          <div class="container-fluid">
            <h4>
              组建, 部署或者嵌入代码
            </h4>
            <p>
              Julia可以让你开发用户界面，静态编译代码，甚至部署到网页服务器上。它还有强大的类似壳层(shell)的管理进程功能。它还提供类似Lisp的宏和其它元编程的能力。
            </p>
            <p>
              它还和其它语言友好相处，提供与
                <a href = "https://docs.julialang.org/en/stable/manual/calling-c-and-fortran-code/">C</a>,
                <a href = "https://github.com/JuliaPy/PyCall.jl">Python</a>,
                <a href = "https://github.com/JuliaInterop/RCall.jl">R</a>,
                <a href = "https://github.com/JuliaInterop/JavaCall.jl">Java</a>,
              还有更多的语言之间的稳定的界面。
            </p>
          </div>
        </div>
        <div class="tab-pane" id="tab-computing" role="tabpanel" aria-labelledby="computing-tab">
          <h3 class="tab-title">并行计算</h3>
          <div class="row">
            <div class="col-lg-12">
              <img src="images/parallel-prefix.png" class="pb-2 ecosystem-image" style="width: 400px; height: 280px" />
              <div class="container-fluid">
                <h4>
                  并行和异构计算
                </h4>
                <p>
                Julia设计上就具有并行性, 提供各个层次的内置并行计算能力:
                <b><a href = "https://docs.julialang.org/en/stable/stdlib/simd-types/"> 矢量化(SIMD)</a></b>,
                <b><a href = "https://docs.julialang.org/en/stable/manual/parallel-computing/#Multi-Threading-(Experimental)-1">多线程</a></b> 和
                <a href = "https://arxiv.org/pdf/1801.10277.pdf">超级计算机</a>上运行的<b><a href = "https://docs.julialang.org/en/stable/manual/parallel-computing/">分布式计算</a></b>,
                </p>
                <p>
                Julia复杂的编译器可以生成各种硬件加速器的机器码，比如<a href = "https://github.com/JuliaGPU/CUDAnative.jl">GPUs</a> 和<a href="https://zh.wikipedia.org/wiki/%E8%87%B3%E5%BC%BA%E8%9E%8D%E6%A0%B8">至强融核</a>。 编写在所有平台上都可以运行的通用代码, 不需要考虑底层的细节。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-math" role="tabpanel" aria-labelledby="math-tab">
          <h3 class="tab-title"></h3>
          <div class="row">
            <div class="col-lg-12">
              <img src="images/cartpole.gif" class="pb-2 ecosystem-image" style="width: 400px; height: 267px" />
              <div class="container">
                <h4>
                  规模化机器学习
                </h4>
                <p>
                  Julia为<a href = "http://juliaml.github.io">机器学习</a>和人工智能提供强大的深度学习工具
                  (<a href = "https://github.com/FluxML/Flux.jl">Flux</a> and <a href = "https://github.com/denizyuret/Knet.jl">Knet</a>)。
                  和论文中发表的数学公式一样, Julia的数学语法是表达算法的理想方式，通过
                  <a href = "http://www.juliadiff.org">自动微分</a>,
                  <a href = "https://github.com/JuliaGPU/CuArrays.jl">GPU加速</a>和terabytes数据支持来
                  建立可训练的模型。
                </p>
                <p>
                  Julia丰富的机器学习生态系统还提供监督式学习算法, 比如
                  <a href = "https://github.com/JuliaStats/GLM.jl">回归</a>,
                  <a href = "https://github.com/bensadeghi/DecisionTree.jl">决策树</a>, 以及非监督式学习算法，比如
                  <a href = "https://github.com/JuliaStats/Clustering.jl">聚类</a> 。您还可以找到
                  <a href = "https://github.com/sisl/BayesNets.jl">贝叶斯网络</a>和
                  <a href = "https://github.com/JuliaStats/Klara.jl">马尔科夫蒙特卡洛</a>的外部库。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-sci" role="tabpanel" aria-labelledby="sci-tab">
          <h3 class="tab-title">Scientific Computing</h3>
          <div class="row">
            <div class="col-lg-12">
              <img src="images/lorenz.gif" class="pb-2 ecosystem-image" style="width: 400px;" />
              <div class="container">
                <h4>
                  丰富的科学计算生态环境
                </h4>
                <p>
                  Julia is designed from the ground up to be very good at numerical and scientific computing.
                  This can be seen in the abundance of scientific tooling written in Julia, such as the state-of-the-art
                  differential equations ecosystem
                  <a href = "http://juliadiffeq.org/">(DiffEq)</a>, optimization tools
                  (<a href = "https://github.com/JuliaOpt/JuMP.jl">JuMP</a> and
                  <a href = "https://github.com/JuliaNLSolvers/Optim.jl">Optim</a>), iterative linear solvers
                  <a href = "https://github.com/JuliaMath/IterativeSolvers.jl">(IterativeSolvers)</a> and many more, that can drive all your simulations.
                  </p>
                  Julia also offers a number of domain-specific ecosystems, such as in biology
                  <a href = "https://github.com/BioJulia"> (BioJulia)</a>, operations research
                  <a href = "https://www.juliaopt.org"> (JuliaOpt)</a></li>, quantum physics
                  <a href = "https://github.com/qojulia/QuantumOptics.jl"> (QuantumOptics)</a>, nonlinear dynamics
                  <a href = "https://github.com/JuliaDynamics"> (JuliaDynamics)</a>, quantitative economics
                  <a href = "https://github.com/QuantEcon">(QuantEcon)</a>, astronomy
                  <a href = "http://juliaastro.github.io"> (JuliaAstro)</a></li> and ecology
                  <a href = "https://github.com/EcoJulia">(EcoJulia)</a></li>. With a set of highly enthused
                  developers and maintainers from various parts of the scientific community, this ecosystem will only continue to get
                  bigger and bigger.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-ds" role="tabpanel" aria-labelledby="ds-tab">
          <h3 class="tab-title">Data Science</h3>
          <div class="row">
            <div class="col-lg-12">
              <img src="images/onlinestats.gif" class="pb-2 ecosystem-image" style="width: 400px;" />
              <div class="container">
                <h4>
                  和你的数据交互
                </h4>
                <p>
                  The Julia data ecosystem lets you load multidimensional datasets quickly, perform aggregations, joins and preprocessing operations in parallel, and save them to disk in efficient formats. You can also perform
                  <a href = "https://github.com/joshday/OnlineStats.jl">online computations</a> on streaming data. Whether you're looking for the convenient and familiar
                  <a href = "http://juliadata.github.io/DataFrames.jl/stable/">DataFrames</a>, or a new approach with
                  <a href = "http://juliadb.org">JuliaDB</a>, Julia provides you a rich variety of tools.
                  The
                  <a href = "https://github.com/queryverse/Queryverse.jl">Queryverse package</a> acts
                  a meta package through which you can access these tools with Julian APIs. In addition to working with tabular data, the <a href = "https://juliagraphs.github.io">JuliaGraphs</a> packages make it easy to work with combinatorial data.
                </p>
                <p>
                  Julia also integrates with every popular database you've heard of, including
                  <a href = "https://github.com/JuliaDatabases/MySQL.jl">MySQL</a>,
                  <a href = "https://github.com/JuliaDatabases/JDBC.jl">JDBC</a>,
                  <a href = "https://github.com/JuliaDatabases/ODBC.jl">ODBC</a>,
                  <a href = "https://github.com/JuliaParallel/HDFS.jl">HDFS</a> and
                  <a href = "https://github.com/JuliaDatabases/Hive.jl"> Hive </a>.

                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane active" id="tab-viz" role="tabpanel" aria-labelledby="viz-tab">
          <h3 class="tab-title">Visualization</h3>
          <div class="row">
            <div class="col-lg-12">
              <div class="container">
                <img src="images/waves.gif" class="pb-2 ecosystem-image" style="width: 400px;" />
                <h4>
                  数据可视化和绘图
                  <!--
                  <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Code</button>
                  -->
                </h4>
                <p>
                  Data visualization has a complicated history. Plotting software makes trade-offs between features and simplicity, speed and beauty, and a static and dynamic interface. Some packages make a display and never change it, while others make updates in real-time.
                </p>
                <p>
                    <a href="https://github.com/JuliaPlots/Plots.jl">Plots.jl</a> is a visualization interface and toolset. It sits above other backends, like GR or PyPlot, connecting commands with implementation. If one backend does not support your desired features or make the right trade-offs, you can just switch to another backend with one command. No need to change your code. No need to learn a new syntax. Plots might be the last plotting package you ever learn.
                </p>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Lorenz Attractor in Julia</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <pre>
                    <code class="julia">
function fill_twos!(a)
  for i=1:length(a)
    a[i] = 2
  end
end

function fast_strange_twos(n)
  a = Array(randbool() ? Int64 : Float64, n)
  fill_twos!(a)
  return a
end
                    </code>
                  </pre>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <br/><br/>

    </div>
  </div>
  <!-- end ecosystem -->
