<!-- julia in a nutshell -->
<div class="container pt-sm-2">
  <div class="row">
    <div class="col-lg-4 col-md-3 language-features "><hr/></div>
    <div class="col-lg-4 col-md-6 language-features section-heading">
      <h2 class="lead secondary-heading">
        简而言之, Julia语言就是
      </h2>
    </div>
    <div class="col-lg-4 col-md-3 language-features"><hr/></div>
  </div>

  <br />

  <div class="row">
    <div class="col-lg-4 col-md-6 feature">
      <h4>快!</h4>
      <p>
        Julia一开始就是为<a href="/benchmarks/">高性能</a>设计的。
        Julia程序被LLVM编译成高效的多平台机器码。
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h4>动态</h4>
      <p>
        Julia是动态类型语言，感觉上像脚本语言，有很好的交互开发支持。
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h4>非强制的类型</h4>
      <p>
        Julia有丰富的数据类型描述语言，类型声明可以使程序更清晰可靠。
      </p>
    </div>

    <div class="col-lg-4 col-md-6 feature">
      <h4>通用型</h4>
      <p>
        Julia使用多分派范式, 容易表达很多面向对象和函数编程的模式。
        标准库提供异步输入/输出，进程控制，日志，性能分析，库管理器，还有更多。
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h4>技术</h4>
      <p>
        Julia的强项是数值计算。它的语法非常适合数学计算，支持很多数值计算数据类型, 并行计算拿来就可以用。
        Julia的多分派机制很自然地支持自定义数字和数组类的数据类型。
        datatypes.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h4>可组合</h4>
      <p>
        Julia库用在一起很自然。比如单元矩阵，货币和颜色数据表列, 等等拿来可用，性能优异。
      </p>
    </div>
  </div>

</div>
<!-- end julia in a nutshell -->
