<!-- packages -->
<div class="container-fluid alt-color packages">
    <br /><br />

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
        <div class="col-lg-4 col-md-6 ecosystem section-heading">
          <h2 class="lead secondary-heading">
            外部库
          </h2>
        </div>
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
      </div>

      <br />
<!--
      <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8">
          <form class="form">
            <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
        <div class="col-lg-3 col-md-2"></div>
      </div>
-->
      <p>
        Julia 已经被下载超过两百万次。Julia 的社区开发了一千九百多外部库。这些包括各种数学库，数据处理工具，以及通用计算库等。除此之外，您还可以很容易地调用
        <a href="https://github.com/JuliaPy/PyCall.jl">Python</a>,
        <a href="https://github.com/JuliaInterop/RCall.jl">R</a>,
        <a href="https://docs.julialang.org/en/stable/manual/calling-c-and-fortran-code/#Calling-C-and-Fortran-Code-1">C/Fortran</a>,
        <a href="https://github.com/Keno/Cxx.jl">C++</a>,
        和 
        <a href="https://github.com/JuliaInterop/JavaCall.jl">Java</a>
        等的外部库. 如果您找不到需要的，可以在
        <a href="http://discourse.juliacn.org">Julia 中文社区</a>
        询问, 自己贡献更好！
      </p>

      <br /><br />

      <div class="row">
        <div class="col-12" style="text-align: center">
          <a class="btn btn-sm btn-outline-danger" href="https://juliaobserver.com">外部库探寻</a>
          <a class="btn btn-sm btn-outline-danger" href="https://pkg.julialang.org/pulse">生态系统动态</a>
        </div>
      </div>

      <br />

    </div>
  </div>
  <!-- end packages -->
